body {padding-top: 40px;} /* move content below bootstrap nav bar */

/* Large desktop */
@media (min-width: 1200px) {
	body {padding-top: 40px;} /* move content below bootstrap nav bar */
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	body {padding-top: 0;} /* move content below bootstrap nav bar */
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	body {padding-top: 0;}
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
	body {padding-top: 0;}
}