.wf-loading p {
  font-family: serif
}
.wf-inactive p {
  font-family: serif
}
.wf-active p {
  font-family: 'Tangerine', serif
}
.wf-loading h1 {
  font-family: serif;
  font-weight: 400;
  font-size: 16px
}
.wf-inactive h1 {
  font-family: serif;
  font-weight: 400;
  font-size: 16px
}
.wf-active h1 {
  font-family: 'Cantarell', serif;
  font-weight: 400;
  font-size: 16px
}