.wf-loading p {
  font-family: serif
}
.wf-inactive p {
  font-family: serif
}
.wf-active p {
  font-family: 'Sanchez', serif; font-size:17px;
}
.wf-loading h1 {
  visibility:hidden;
}
.wf-inactive h1 {
  font-family: serif;
  font-weight: 900;
  font-size: 32px;
  visibility: hidden;
}
.wf-active h1 {
  font-family: 'Chivo', sans-serif;
  font-weight: 900;
  font-size: 32px
}

